/*
	Resets
			*/

body {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	& li {
		list-style-type: none;
	}
}

#app {
	.v-itemlist {
		width: 100%;
		li {
			margin-bottom: 15px;
			text-align: center;
			span {
				display: block;
			}
			a {
				display: block;
			}
		}
	}
}